.ctaSection {
  padding-top: 40px;
  background: #f5f5f5;
  padding-bottom: 40px;
}

.vCenter {
  align-self: center;
  align-items: center;
}

.emailSubs .h3 {
  margin-bottom: 10px;
}

.h3 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  line-height: 46px;
  color: #05688d;
  font-weight: 600;
}

.p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #6a6a6a;
}
span.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* -----button----- */

.vCenter {
  align-self: center;
  align-items: center;
}

.emailSubsForm {
  position: relative;
}

.emailSubsForm .formCta {
  align-items: center;
  justify-content: center;
  display: flex;
}
.emailSubsForm input {
  width: 100%;
  height: 65px;
  padding: 0 175px 0 30px;
  margin: 0;
  color: #172b43;
  font-size: 16px;
  outline: 0;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  box-shadow: 1px 4px 15px rgb(5 102 141 / 30%);
}
.emailSubsForm .btnMain {
  width: max-content;
  position: absolute;
  right: 5px;
  border-radius: 28px 100px 100px 28px;
  padding: 0 30px;
  line-height: 55px;
  box-shadow: none;
}

.bgBtn6 {
  background: #05668d;
  background: -moz-linear-gradient(
    -45deg,
    #05668d 0,
    #028090 54%,
    #00a896 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #05668d 0,
    #028090 54%,
    #00a896 100%
  );
  background: linear-gradient(135deg, #05668d 0, #028090 54%, #00a896 100%);
}

.circle {
  -webkit-transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}

.btnMain {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  outline: 0;
  color: #fff;
  background-color: #05688d;
  border: none;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
  box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
}
.btnMain:hover {
  color: #fff;
}
.lnk:hover span.circle {
  top: -10%;
  right: -80px;
}

.lnk {
  position: relative;
  overflow: hidden;
  right: 5px;
}
.faIcon {
  margin-left: 5px;
  font-size: 12px;
}

.modalBody {
  position: relative;
  flex: 1 1 auto;
  padding: 30px;
}
.formBlock {
  margin-bottom: 10px;
  margin-top: 10px;
}

.h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  line-height: 57px;
  color: #05668d;
  font-family: "Poppins", sans-serif;
}
.h5 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #4e4e4e;
  margin-top: 6px;
  margin-bottom: 0;
}

.formBlock button {
  width: 100%;
}
.bgBtn {
  background: #05668d;
  background: -moz-linear-gradient(left, #05668d 0, #028090 100%);
  background: -webkit-linear-gradient(left, #05668d 0, #028090 100%);
  background: linear-gradient(to right, #05668d 0, #028090 100%);
}
.btnMain {
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  padding: 0 32px;
  line-height: 56px;
  text-align: center;
  outline: 0;
  color: #fff;
  background-color: #05668d;
  border: none;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
  box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
}
.lnk {
  position: relative;
  overflow: hidden;
}

.btn-close {
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 991px) {
  .emailSubs {
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .h3 {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }
  .p {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .emailSubsForm .p {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .emailSubsForm input {
    width: 100%;
    height: 65px;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  .emailSubsForm .btnMain {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    font-size: 0;
    line-height: 55px;
    text-align: center;
    padding: 5px;
  }
}
@media only screen and (max-width: 991px) {
  .btnMain {
    margin: 0 auto;
    display: block;
  }
}
