.projects {
  padding: 100px 0 100px 0;
}
.projects {
  background: #f3fbff;
  background: -moz-linear-gradient(top, #f3fbff 0, #fffdf6 100%);
  background: -webkit-linear-gradient(top, #f3fbff 0, #fffdf6 100%);
  background: linear-gradient(to bottom, #f3fbff 0, #fffdf6 100%);
}
.heading {
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.heading .h2 {
  margin-bottom: 15px;
}
.h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: #05688d;
  font-weight: 600;
}

.mt40 {
  margin-top: 40px;
}

.projects .isotopeItem {
  margin-top: 60px;
}
.isotopeItem {
  position: relative;
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.hScl:hover .hSclBase{
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.hScl .hSclBase{
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  transform: scale(1);
}
.itemImg {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff00;
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
    0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
}
.itemImg .img{
  width: 100%;
}
.hScl:hover .hSclBase .img{
    transform: scale(1.15);
}
.hSclBase .img{
    transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.shdo {
  box-shadow: 0px 0px 5px -3px rgb(0 0 0);
}

.itemInfo {
  background: #fff;
  padding: 15px;
  position: relative;
  top: -40px;
  width: 95%;
  text-align: center;
  border-radius: 40px 8px 8px 8px;
  margin: 0 auto;
}
.itemInfo .h4 {
  margin: 0;
  font-weight: 600;
}

.h4{
    color: #05688d;
    font-family: "Poppins",sans-serif;
    font-size: 22px;
    line-height: 32px;
}

.megaBtn{
    margin-top: 60px;
    text-align: center;
}
.btnOutline{
    border: 2px solid #05688d;
    border-radius: 100px;
    font-size: 16px;
    line-height: 52px;
    display: inline-block;
    color: #05688e;
    box-shadow: 0 10px 15px 0 rgb(3 35 68 / 10%);
    background: #fff;
    font-family: "Poppins",sans-serif;
    padding: 0 32px;
}
.btnOutline:hover{
    background: #05688d;
    color: #FFF;
    border: 2px solid #05688d;
}
.faIcon{
    margin-left: 10px;
    font-size: 12px;
}

/* ----------media query ---------- */

@media only screen and (max-width:991px){
  .heading .h2{
    text-align: center;
  }
  .h2{
    font-size: 26px;
    line-height: 36px;
  }
}