/* ////////////////////////// badges ////////////////////////// */

.badgesSection {
  background: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.txt .h2 {
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 60px;
}

.txt .h2 {
  font-family: "Poppins", sans-serif;
  color: #05688d;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

/* --------- cta btn --------- */

.ctaBtn {
  margin-top: 70px !important;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.ctaTitle {
  display: inline-flex;
}

.ctaBtn .p {
  font-size: 30px;
  color: #05688d;
  margin: 0 30px 0 0;
  line-height: 28px;
}

.ctaBtn .p span {
  font-weight: 700;
}

.btnMain {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding: 0 32px;
  line-height: 56px;
  text-align: center;
  color: #fff !important;
  border-radius: 100px;
  border: none;
  display: inline-block;
  position: relative;
  box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
}

.bgBtn {
  background: -webkit-linear-gradient(
    -45deg,
    #05668d 0,
    #028090 54%,
    #00a896 100%
  );
  background: linear-gradient(135deg, #05668d 0, #028090 54%, #00a896 100%);
}

.faIcon {
  margin-left: 5px;
  font-size: 12px;
}
.lnk{
  overflow: hidden;
}
span.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.lnk:hover span.circle{
  top: -10%;
  right: -80px;
}
.circle{
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
}

@media only screen and (max-width: 991px) {
  .btnMain {
    width: max-content;
    margin: 0 auto;
    display: block;
  }
  .txt .h2 {
    text-align: center;
  }
}

@media (max-width:520px){
    .commonHeading .h2{
      font-size: 26px;
      line-height: 36px;
    }
  }
@media only screen and (max-width: 767px) {
    .ctaBtn .p {
      text-align: center;
      margin: 0 0 30px 0;
      font-size: 25px;
      line-height: 35px;
    }
    .ctaTitle {
      display: block;
    }
  }