.breadcrumpArea {
    padding: 150px 0 100px 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .breadcrumpArea::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.85;
    right: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(135deg, #ffdee9 0, #c8fff4 100%);
  }
  
  .breadTitle {
    position: relative;
    text-align: center;
  }
  .h1 {
    color: #05688d;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
  }
  .breadTitle .p {
    margin-top: 20px;
  }
  
  .p {
    margin: 0;
    color: #6a6a6a;
    font-size: 17px;
    line-height: 28px;
    padding: 0;
  }
  .bgBtn {
    background: #05688d;
    background: linear-gradient(to rigth, #05688d 0, #028090 100%);
    box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
  }
  .btnMain:hover {
    color: #fff;
  }
  
  .btnMain {
    margin-top: 20px;
    padding: 0 32px;
    color: #fff;
    font-size: 16px;
    line-height: 56px;
    font-weight: 400;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
  }
  .lnk {
    position: relative;
    overflow: hidden;
  }
  .faIcon {
    margin-left: 10px;
    font-size: 12px;
  }
  span.circle {
    background: rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
    top: -10%;
    right: -130px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .lnk:hover span.circle {
    top: -10%;
    right: -80px;
  }
  .circle {
    transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  }
  
  
  @media only screen and (max-width:991px){
      .breadTitle .h1 .p{
          text-align: center;
      }
  }
  @media only screen and (max-width:520px){
      .h1{
          font-size: 32px;
          line-height: 42px;
      }
  }