.reviewsBlock {
    background: #f5f5f5;
    padding: 100px 0 100px 0;
  }
  .heading {
    text-align: center;
    position: relative;
    padding: 0;
    z-index: 10;
  }
  .heading .h2 {
    margin-bottom: 15px;
  }
  .h2 {
    color: #05688d;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
  }
  
  .p {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  
  .mt30 {
    margin-top: 30px;
  }
  
  .reviewsCard {
    position: relative;
    z-index: 9;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
      0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
  }
  
  .vCenter {
    align-items: center;
    align-self: center;
  }
  .quoteIcon {
    font-size: 40px;
    color: #6a6a6a;
  }
  .reviewText {
    text-align:justify;
    padding: 30px 0;
    margin: 0;
  }
  
  .reviewText .p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 28px;
  }
  .clientDetails {
    display: flex;
  }
  .reviewerText .h4 {
    margin: 0;
    color: #333;
    padding: 5px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .reviewerText .p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .starRate {
    margin-top: 5px;
  }
  .starRate li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .starRate li .chked {
    color: #ff711c;
  }
  
  /* ---------- cta section ----------- */
  
  .ctaSection {
      /* background: #f5f5f5; */
      padding-bottom: 40px;
      padding-top: 40px;
    }
    
    .btnOutline:hover{
      background: #05688d;
      color: #fff;
      border: 2px solid #05688d;
    }
  
    .span {
      font-size: 35px;
      font-weight: bold;
      color: #05688d;
      }
    
    .emailSubs .h3 {
      margin-bottom: 10px;
    }
    
    .h3 {
      font-weight: 300;
        font-size: 34px;
      line-height: 46px;
      font-size: 35px;
      color: #05688d;
    }
    
    .textCenter {
      align-self: center;
      align-items: center;
      position: relative;
    }
    
    .btnOutline {
      color: #05688d;
      border: 2px solid #05688d;
        border-radius: 100px;
      font-size: 16px;
      background: #fff;
      padding: 15px 32px;
      line-height: 52px;
      box-shadow: 0 10px 15px 0 rgb(3 35 68 / 10%);
    }
    
    .emailSubsForm {
      position: relative;
    }
    
    .faIcon {
      margin-left: 10px;
      font-size: 12px;
    }
  
    /* ------------@media query------------- */
  
    @media only screen and (max-width:991px){
      .heading .h2{
        text-align: center;
      }
      .h2{
        font-size: 26px;
        line-height: 36px;
      }
    }
  
    @media only screen and (max-width:520px){
      .emailSubs .h3{
        text-align: center;
      }
    }
    @media only screen and (max-width: 520px) {
      .h3 {
        font-size: 24px;
        line-height: 34px;
      }
    }
    @media only screen and (max-width: 520px) {
      .span {
        font-size: 24px;
        line-height: 34px;
      }
    }