.aboutCareer {
  padding: 100px 0 100px 0;
}
.commonHeading {
  text-align: left;
  padding: 0;
  position: relative;
  z-index: 10;
}
.h2 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 52px;
  font-family: "Poppins", sans-serif;
  color: #05688d;
  font-weight: 600;
}

.p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #6a6a6a;
}

.bgBtn {
  background: #05668d;
  background: -moz-linear-gradient(left, #05668d 0, #028090 100%);
  background: -webkit-linear-gradient(left, #05668d 0, #028090 100%);
  background: linear-gradient(to right, #05668d 0, #028090 100%);
  -webkit-box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
  box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
}

.btnMain:hover {
  color: #fff;
}
.btnMain {
  margin-top: 30px;
  color: #fff;
  padding: 0 30px;
  font-size: 16px;
  line-height: 56px;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 100px;
  position: relative;
  -webkit-box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
  box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
}
.lnk {
  position: relative;
  overflow: hidden;
}
.faIcon {
  margin-left: 10px;
  font-size: 12px;
}
span.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.circle {
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.lnk:hover span.circle {
  top: -10%;
  right: -80px;
}

.imgBlock .img {
  -webkit-box-shadow: -20px 20px 35px #dcdcdc, 20px -40px 35px #fff;
  box-shadow: -20px 20px 35px #dcdcdc, 20px -40px 35px #fff;
}

.imgBlock .img {
  width: 100%;
  border-radius: 8px;
}

/* ---------media query ------------ */

@media only screen and (max-width: 991px) {
  .commonHeading .h2 {
    text-align: center;
  }
  .h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .p {
    text-align: center;
    margin-bottom: 20px;
  }
  .btnMain {
    width: max-content;
    margin: 0 auto;
    display: block;
  }
  .imgBlock{
    margin-top: 30px;
  }
}
