.service4 {
  background: #f5f5f5;
  padding: 100px 0 100px 0;
}
.heading {
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.heading .h2 {
  margin-bottom: 15px;
}
.h2 {
  font-family: "Poppins", sans-serif;
  color: #05688d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}
.p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  color: #6a6a6a;
}
.mt30 {
  margin-top: 30px;
}

.sBlock {
  background: #fff;
  background-size: 200%;
  background-position: top right;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 20px;
  margin: 0;
  position: relative;
  border: 1px solid #d4f0ff;
  border-radius: 8px;
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
    0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
}

.icon {
  width: 80px;
  margin: 0 auto 30px;
}

.blockContent {
  margin: 0 0 0 20px;
}
.sBlock .h4 {
  margin: 0 0 10px 0;
}
.h4 {
  font-family: "Poppins", sans-serif;
  color: #05688d;
  font-weight: 600;
  font-size: 22px;
  line-height: 32x;
}

.ctaBtn.mt70px {
  margin-top: 70px;
}

.ctaBtn {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.ctaTitle {
  display: inline-flex;
}

.vCenter {
  align-items: center;
  align-self: center;
}
.ctaBtn .p {
  font-size: 30px;
  color: #05688d;
  margin: 0 30px 0 0;
}
.ctaBtn .p .span {
  font-weight: 700;
}

.bgBtn {
  background: #05668d;
  background: linear-gradient(to right, #05668d 0, #028090 100%);
  box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
}
.btnMain:hover {
  color: #fff;
}
.btnMain {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  color: #fff;
  padding: 0 32px;
  border-radius: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
}
.lnk {
  position: relative;
  overflow: hidden;
}
.faIcon {
  margin-left: 10px;
  font-size: 12px;
}
span.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.lnk:hover span.circle {
  top: -10%;
  right: -80px;
}
.circle {
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}


@media (max-width: 767px) {
  .service4{
    padding: 60px 0 60px 0;
  }
}

@media only screen and (max-width: 991px) {
  .heading .h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .h2 {
    font-size: 26px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 520px) {
  .h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .ctaBtn .p {
    margin: 0 0 30px 0;
    font-size: 25px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .ctaTitle {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .btnMain {
    width: max-content;
    margin: 0 auto;
    display: block;
  }
}
