.keypoints {
  padding: 100px 0 100px 0;
}

.textBlock {
  padding-right: 25px;
  text-align: left;
}

.h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 46px;
  color: #05688d;
  font-weight: 600;
}
.p {
  margin: 0;
  padding: 0;
  color: #6a6a6a;
  font-size: 17px;
  line-height: 28px;
}

.btnMain {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 56px;
  padding: 0 32px;
  color: #fff !important;
  border-radius: 100px;
  border: none;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 15px 0 rgb(2 195 154 / 15%);
}

.bgBtn {
  background: #05668d;
  background: -moz-linear-gradient(left, #05668d 0, #028090 100%);
  background: -webkit-linear-gradient(left, #05668d 0, #028090 100%);
  background: linear-gradient(to right, #05668d 0, #028090 100%);
  -webkit-box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
  box-shadow: 0 10px 15px 0 rgb(4 108 141 / 20%);
}
.lnk {
  position: relative;
  overflow: hidden;
}
.btnMain:hover span.circle {
  top: -10%;
  right: -80px;
}
.circle {
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.faIcon {
  margin-left: 10px;
  font-size: 12px;
}
.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imgBlock .img {
  position: relative;
  z-index: 5;
  border-radius: 8px;
  box-shadow: none;
}

@media (max-width: 991px) {
  .textBlock .h3,.p {
    text-align: center !important;
  }
  .btnMain{
    display: block;
    width: max-content;
    margin: 0 auto;
  }
  .imgBlock{
    margin: 30px auto 0;
    display: block;
  }
}

@media (max-width: 520px) {
  .h3 {
    font-size: 24px;
    line-height: 34px;
  }
  
}
@media (max-width: 767px) {
  .textBlock {
    padding-right: 0 !important;
  }
}
