.StatisticSection {
  background: #05688d;
  overflow: hidden;
}

.pb120 {
  padding-bottom: 120px;
}
.pt120 {
  padding-top: 120px;
}

.textCenter {
  text-align: center;
}

.statistics {
  align-items: center;
  display: flex;
}

.statisticsImg {
  width: 100px;
  height: 100px;
  float: left;
  padding: 15px;
  background: #fff;
  border-radius: 8px 40px 8px 40px;
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
    0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
}

.tilt3d .statisticsImg .img {
  transform: translateZ(20px);
}

.StatisticSection .statistics .span {
  font-size: 45px;
  font-weight: 900;
  color: #fff;
}

.statistics .span {
  display: inline-block;
}

.statistics .p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.p {
  line-height: 28px;
}

.small {
  margin-top: 100px;
}

.small .statisticsImg {
  width: 75px;
  height: 75px;
}

.statNumb {
  margin: 0 0 0 20px;
  text-align: left;
  float: left;
}

.small .statistics .p {
  font-size: 18px;
  line-height: 24px;
}

.hr {
  margin-top: 70px;
  height: 2px;
  border-top: 5px dashed #fff;
}

.mt,
.mt10 {
  margin-top: 10px;
}

.text1 {
  text-align: left !important;
}

.tilt3d .img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.commonHeading {
  padding: 0;
  position: relative;
  z-index: 10;
}

.mt60 {
  margin-top: 60px;
}

.media {
  display: flex;
  align-items: flex-start;
}

.mediaObject .media .imgB {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  width: 65px;
}

.mediaObject .media .img {
  width: 100%;
}

.mediaObject .mediaBody {
  margin-left: 30px;
}

.mediaObject .h4 {
  text-align: left;
  margin-bottom: 10px;
}
.mediaBody {
  flex: 1;
}

.h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

.p2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .statistics {
    text-align: left;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .statisticsImg {
    width: 80px;
    height: 80px;
  }
}

/* @media only screen and (max-width: 520px) {
  .statistics .span {
    font-size: 30px;
  }
} */
@media only screen and (max-width: 520px) {
  .small .statistics .span, .statistics .span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .small {
    margin-top: 0;
  }
}

/* @media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

@media only screen and (max-width:991px){
  .small .statisticsImg{
    width: 80px;
    height: 80px;
  }
}






@media only screen and (max-width: 991px) {
  .text1 {
    text-align: center !important;
  }
}

@media only screen and (max-width: 991px) {
  .mediaOject {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .mediaObject .media .imgB {
    width: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .mediaObject .mediaBody {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .mediaObject .h4 {
    text-align: left;
  }
}
