/*------------- carousel style --------------*/

.carousel.slide {
  color: #6a6a6a;
  display: block;
  background: #fff;
  box-shadow: 0 11px 20px rgb(123 149 162 / 15%);
  font-weight: 400;
  font-size: 14px;
  padding: 60px 30px;
  border-radius: 40px 8px 8px 8px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  align-items: flex-end;
  width: 4px;
  height: 4px;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  display: block;
  align-content: space-between;
  cursor: pointer;
  background-color: #05668d;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100%;
  font-size: -30px;
  justify-content: end;
  text-align: right;
}

.carousel-indicators .active {
  opacity: 1;
}
.carousel-indicators button:hover {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: end;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  margin: 20px;
}

.carousel-control-prev {
  display: none;
}
.carousel-control-next {
  display: none;
}
.carousel.slide .carousel-indicators button:after,
.carousel.slide .carousel-indicators button:focus:after,
.carousel.slide .carousel-indicators button:hover:after {
  opacity: 1;
}

/*------------- button style ----------------*/

button.btn-close {
  color: #fff;
}

.btn-close:focus {
  box-shadow: none;
}
.modal-content {
  border-radius: 20px;
}
.modal.show .modal-dialog {
  max-width: 600px;
}
.btn:focus {
  box-shadow: none;
}

.btn:first-child:active {
  border-color: transparent;
  background-color: none;
  color: none;
}
.modal-backdrop {
  --bs-backdrop-zindex: 999999;
}
.modal-backdrop.fade {
  opacity: 0.9;
}

/*----------- offcanvas header ------------*/

.offcanvas-header {
  display: block;
}

.offcanvas-header .btn-close {
  position: absolute;
  font-size: 13px;
  top: -1px;
  right: 8px;
  width: 30px;
  height: 50px;
  border-radius: 0;
  margin-top: -1px;
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  opacity: 1;
}

.offcanvas-header .btn-close:hover {
  background-color: #101010;
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.offcanvas.offcanvas-start.show ::after {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.05s;
}
.offcanvas.offcanvas-start.show::after {
  content: "";
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.4s, opacity 0.4s ease;
}
.offcanvas.offcanvas-start.show::after {
  background: rgba(0, 0, 0, 0.5);
}

/*--------------- navabr -------------------*/

.navbar {
  padding: 0 20px;
  height: 85px;
  z-index: 99999;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  -webkit-transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}

.navbar.active {
  background: #fff;
  height: 70px;
  box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
}

.navbar .megaDarkLogo {
  display: none;
}
.navbar.active .megaDarkLogo {
  display: inline-block;
}
.navbar.active .megaWhiteLogo {
  display: none;
}
.navBrand {
  -webkit-transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}
.dskLogo {
  float: left;
  line-height: 65px;
}
.navbar.active .dskLogo {
  line-height: 70px;
}
.dskLogo .navBrand .img {
  max-height: 80px;
}
.navbar.active .nx-dropdown {
  top: 65px;
}
.navbar.active .custom-nav .nav-list li a.menu-links {
  line-height: 70px;
  color: #05688e;
}

@media only screen and (max-width: 520px) {
  .navbar {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar.active .img {
    max-height: 55px;
  }
}

@media only screen and (max-width: 1150px) {
  .img {
    position: relative;
    top: 1px;
  }
}

/*--------- hero section ---------------*/

.heroSection {
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  align-items: center;
  display: grid;
}

.hero {
  transition: 1.2s cubic-bezier(0.17, 0.85, 0.438, 0.99);
}

.hero.active {
  position: relative;
  overflow: hidden;
  align-items: center;
  display: grid;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
}
@media only screen and (max-width: 1370px) {
  .heroSection {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 750px;
  }
}

@media only screen and (max-width: 991px) {
  .heroSection {
    padding-top: 120px;
    padding-bottom: 80px;
    height: auto;
  }
}
