section {
  display: block;
}

.banner3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.breadcrumpArea {
  padding: 150px 0 90px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.breadcrumpArea:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  right: 0;
  left: 0;
  z-index: 0;
  background: -webkit-linear-gradient(-45deg, #ffdee9 0, #c8fff4 100%);
  background: linear-gradient(135deg, #ffdee9 0, #c8fff4 100%);
}

.textBlock {
  position: relative;
  z-index: 55;
}

.vCenter {
  align-self: center;
  align-items: center;
}

ul {
  list-style: none;
}

.breadcrumpArea ul li {
  display: inline-block;
}
.breadcrumpArea .breadMenu li a {
  font-family: "Poppins", sans-serif;
  color: #6a6a8e;
  font-size: 16px;
  font-weight: 400;
  padding-right: 10px;
  display: inline-block;
}
.breadcrumpArea .breadMenu li+li::before {
  font-size: 5px;
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 700;
  margin: 0 10px 0 0;
  position: relative;
  top: -3px;
  color: #6a6a6a;
}

.breadTitle .h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
  margin: 15px 0 0 0;
}
.h2 {
  font-family: "Poppins", sans-serif;
  color: #05688d;
}

.breadcrumbArea:after {
  content: "";
  z-index: 0;
  background-size: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  z-index: 1;
  background-position: center right;
  background-size: contain;
}

/* ///////////////////////// Portfolio section ///////////////////////////////// */

.portfolioPage {
  padding-top: 100px;
  padding-bottom: 100px !important;
}

.commonHeading {
  position: relative;
  text-align: left;
  z-index: 10;
}
.h {
  font-family: "Poppins", sans-serif;
  color: #05688d;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

.vCenter {
  align-self: center;
  align-items: center;
}
.filterMenu {
  text-align: right;
}
.filters .filterMenu li.isChecked {
  background: #05688d !important;
  color: #fff;
}

.filters .filterMenu li {
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  display: inline-block;
  color: #333;
  padding: 20px;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 40px 40px 40px 20px;
}
.filterMenu li {
  margin-right: 5px;
}

/* ------- card section ------- */

.mt40 {
  margin-top: 40px;
}
.isotopItem {
  position: relative;
}
.hScl:hover {
  transform: translate(0, -5px);
}
.hScl{
  -webkit-transition: 1.2s cubic-bezier(.17, .85, .438, .99);
    transition: 1.2s cubic-bezier(.17, .85, .438, .99);
}

.itemImage {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff00;
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
    0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
}
.itemImage .img{
  width: 100%;
}

.shdo {
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%),
    0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
  box-shadow: 0px 0px 5px -3px rgb(0 0 0);
}
.itemInfo {
  background: #fff;
  padding: 15px;
  padding-bottom: 5px;
  position: relative;
  top: -38px;
  width: 95%;
  border-radius: 40px 8px 8px 8px;
  margin: 0 auto;
  text-align: center;
}

.itemInfo .h4 {
  margin: 0;
}
.isotopItem .h4 {
  font-weight: 600;
  margin: 0 0 10px 0;
}
.h4 {
  font-family: "Poppins", sans-serif;
  color: #05688e;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}
.isotopItem .h4 a {
  color: #05688e;
}

@media only screen and (max-width:991px){
  .breadcrumpArea{
    padding: 120px 0 60px 0;
  }
  .commonHeading .h{
    text-align: center;
  }
  .filterMenu{
    margin-top: 30px;
    text-align: center;
  }
  
}
@media only screen and (max-width:767px){
  .portfolioPage{
    padding: 60px 0 60px 0;    
  }
 
}
@media only screen and (max-width:520px){
  .breadTitle .h2{
    font-size: 26px;
    line-height: 36px;
  }
  .h{
    font-size: 26px;
    line-height: 36px;
  }
  .filters .filterMenu li{
    padding: 16px 12px;
    margin-bottom: 6px;
  }
  .itemInfo .h4{
    font-size: 20px;
    line-height: 30px;
  }
}

